@media screen and (min-width: 576px) {

/* utilities */
.no-xs {
    display: block;
}

.no-xs-flex {
    display: flex;
}

/* navbar */

/* top navbar */

nav {
    width: 230px;
    padding: 1.25rem 1.25rem .625rem 1.25rem;

}

nav .nav-top li {
    display: flex; 
}

nav .nav-top li:first-child img {
    width: 2.5rem; 
    margin-bottom: 1.875rem;
}

#logo-span {
    line-height: 2.5rem;
    margin-left: .4375rem;
}

nav .nav-top li:not(:first-child) img {
    width: 1.25rem; 
    margin-bottom: .75rem;
    margin-right: .5625rem;
}

.nav-top li span:not(:first-child) {
    line-height: 1.25rem;
}

/* bottom navbar */

nav .nav-bottom {
    text-align: left;
}

nav .nav-bottom hr {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.nav-bottom  div {
    display: flex;
}

.nav-bottom img[alt="download icon"] {
    margin-bottom: 0;
    margin-right: .75rem;
    margin-left: 0px;
}

#username {
    margin-left: .625rem;
    line-height: 25px;
}

/* scrollbar in main */

.scrolling-header {
    width: calc(100% - 230px);  
    left: 230px; /* 100% of top element minus 230px of left navbar */
}

.footer-left, .footer-right {
    max-width: 230px;
}
}