/* background colors */

.bg-dark-grey {
    background-color: var(--dark-grey);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-black {
    background-color: var(--black);
}

/* text colors */

.white {
    color: white;
}

.dim-white {
    color: var(--dim-white);
}

.grey {
    color: var(--grey);
}