footer {
    height: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    padding: .625rem .625rem .625rem 1.5625rem;
}

/* footer left */

.footer-left {
    display: flex;
    padding-top: .9375rem ;
    max-width: 230px;
}

.footer-left i {
    display: block;
    margin-bottom: .25rem;
}

.footer-left h4 {
    margin-bottom: .32rem;
}

.footer-left .cover {
    padding-right: .4375rem;
}

.footer-left .title {
    padding-right: .4375rem;
}

.footer-left .cover {
    width: 20%;
}

/* footer central */

.footer-central {
    flex-grow: 1;
}

/* footer right */


.footer-right {
    width: 25%;
    align-items: center;
    justify-content: space-around;
}


/* Styles for the volume bar container */
.volume-bar {
    min-width: 50%;
    height: 4px; 
    background-color: var(--grey); 
    position: relative;
    border-radius: 20px;
  }
  
  /* Styles for the filled portion of the volume bar */
  .volume-fill {
    width: 15%;
    height: 100%;
    background-color: white; 
  }
    
/* volume bar hover effect */

  .volume-bar i {
    display: none;
    position: absolute;
    top: -7px;
    left: 15%; 
    transform: translateX(-50%);
    color: var(--brand-green); 
}

.volume-bar:hover .fa-circle-dot {
    display: block;
}

