footer {
    height: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    padding: .625rem .625rem 1.5625rem .625rem;
}

footer i:hover:not(.fa-circle-dot) {
    filter: brightness(1.5);

}

/* footer left */

.footer-left {
    display: flex;
    padding-top: .9375rem ;
    width: 230px;
}

.footer-left i {
    display: block;
    margin-bottom: .25rem;
    font-size: 12px;
}

.footer-left img {
 min-width: 20px;
}

.footer-left h4 {
    margin-bottom: .32rem;
}

.footer-left .cover {
    padding-right: .4375rem;
}

.footer-left .title {
    padding-right: .4375rem;
}

.footer-left .cover {
    width: 20%;
}

/* footer central */

.footer-central {
    flex-grow: 1;
    justify-content: center;
}

.footer-central .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.footer-central .footer-central-top {
    justify-content: space-between;
    width: 200px;
    align-self: center;
}

.footer-central .footer-central-top i {
    font-size: 20px;
}

.footer-central .footer-central-top i:hover {
  color: var(--brand-green);
  filter: brightness(1);
}

.footer-central-bottom {
    min-width: 200px;
    width: 60%;
    align-self: center;
    align-items: center;
} 

.footer-central-bottom span {
 margin-right: 10px;
 margin-left: 10px;
} 


/* footer right */


.footer-right {
    width: 230px;
    align-items: center;
    justify-content: space-around;
}

.footer-right i {
    font-size: 12px;
}


/* Styles for the volume bar container */
.volume-bar {
    min-width: 50%;
    height: 4px; 
    background-color: var(--grey); 
    position: relative;
    border-radius: 20px;
  }
  
  /* Styles for the filled portion of the volume bar */
  .volume-fill {
    width: 15%;
    height: 100%;
    background-color: white; 
  }
    
/* volume bar hover effect */

  .volume-bar i {
    display: none;
    position: absolute;
    top: -4px;
    left: 15%; 
    transform: translateX(-50%);
    color: var(--brand-green); 
    
}

.volume-bar:hover .fa-circle-dot {
    display: block;
}


/* Styles for the track bar container */
.track-bar {
    width: 100%;
    height: 4px; 
    background-color: var(--grey); 
    position: relative;
    border-radius: 20px;
  }
  
  /* Styles for the filled portion of the volume bar */
  .track-fill {
    width: 15%;
    height: 100%;
    background-color: white; 
  }

/* track bar hover effect */

.track-bar i {
    display: none;
    position: absolute;
    top: -6px;
    left: 15%; 
    transform: translateX(-50%);
    color: var(--brand-green); 
    
}

.track-bar:hover .fa-circle-dot {
    display: block;
}

