main {
    padding-top: 90px; /* Adjust padding to account for the header height */
    padding-bottom: 10px;
    overflow-y: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.top-element {
    height: calc(100% - 90px);
    margin-bottom: 3.125rem;
}

/* top menu */

.top-menu {
    justify-content: center;
}

.top-menu ul {
    flex-wrap: wrap;
    justify-content: space-around;
}

.top-menu ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 1.5625rem;
}

/* recently played  & for you & artists */

.recently-played h2 {
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
}

.for-you h2, .popular-artist h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.2rem;
}

.for-you h2 + p, .popular-artist h2 +p {
    margin-bottom: 1.875rem;
}

.played-items, .for-you-items, .artist-items {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.played-items .card, .for-you-items .card, .artist-items .card{
    width: calc((100% / 2) - 0.5 * 10px); 
    text-align: center; /* width: (100% / n) - (((n -1) / n) * g); n = columns per row, g = gap */
}

.played-items .card h3, .for-you-items .card h3, .artist-items .card h3 {
    margin-top: 1rem;
}

.played-items .card p {
    margin-top: 0.5rem;
}

.played-items .card p {
    margin-bottom: 1rem;
}

/* circular shape for artist items */

.artist-items .card .round-container {
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
}

.artist-items .card .round-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* hover effects */


.card-pic:hover img {
    filter: brightness(0.5); /* Obscure the card on hover */
    transition: all 0.3s ease-in-out;
}

.card-pic:hover i.fa-circle-play {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
}

/* Initially hide the play icon */
.card-pic i {
    display: none;
}

/* Style for the card picture and icon container */
.card-pic {
    position: relative;
}

/* hover effects for round container */

.round-container:hover img {
    filter: brightness(0.5); /* Obscure the card on hover */
    transition: all 0.3s ease-in-out;
}

.round-container:hover i.fa-circle-play {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
}

/* Initially hide the play icon */
.round-container i {
    display: none;
}

.round-container {
    position: relative;
}

.top-menu li:hover {
    filter: brightness(1.5);
}




