main {
    padding-top: 90px; /* Adjust padding to account for the header height */
    overflow-y: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.top-element {
    
    height: calc(100% - 90px);
    margin-bottom: 3.125rem;
}

/* top menu */

.top-menu ul {
    flex-wrap: wrap;
    justify-content: space-around;
}

.top-menu ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 1.5625rem;
}

/* recently played */

.recently-played h2 {
    margin-top: 1.25rem;
}