nav {
    width: 50px;
    flex-direction: column;
    justify-content: space-between;
    padding: .3125rem .625rem .625rem .625rem;
}

ul.dim-white {
    list-style: none; 
    padding: 0; 
}

.nav-bottom {
    border: 1px solid white;
}