nav {
    width: 50px;
    flex-direction: column;
    padding: .3125rem .625rem .625rem .625rem;
    flex-shrink: 0;
    overflow: hidden;
}


/* top navbar */

.nav-top {
    margin-bottom: auto;
}

nav .nav-top li {
    margin-bottom: .5rem; 
}


nav .nav-top li:first-child {
    margin-bottom: 15px; 
}

/* central navbar */

.nav-central {
    flex-grow: 1;  
    padding-top: 1.875rem; 
    overflow: hidden;
    flex-direction: column;
}

.nav-central .playlists {
    overflow: auto;
}

.nav-central ul li {
    color: var(--grey);
    margin-bottom: 1.875rem;
    font-size: 12px;
}

nav .nav-central h3:first-child {
    margin-bottom: 0.9rem;
}
nav .nav-central i {
    vertical-align: middle;
}

/* bottom navbar */

nav .nav-bottom {
    text-align: center;
    padding-top: .3125rem;
    margin-top: auto;
}

nav .nav-bottom div:first-child img{
    width: .9375rem;
    
}

nav .nav-bottom #nav-profile{
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    width: 25px; 
    height: 25px; 
    background-color: var(--grey);
}

.nav-bottom img[alt="download icon"] {
    margin: auto;
    margin-bottom: 1.25rem;
}

nav .nav-bottom #nav-profile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* nav hover effects */

nav .nav-top li span:hover {
    filter: brightness(1.5);
}

nav .nav-central li:hover {
    filter: brightness(1.5);
}

nav .nav-central h3:hover {
    filter: brightness(1.5);
} 

.nav-top ul li {
    position: relative;
    
}

.nav-top ul li:not(:first-child)::before {
    content: '';
    position: absolute;
    left: -5px; 
    top: 2px; 
    width: 0; 
    height: 50%; 
    background-color: var(--brand-green); 
}

.nav-top ul li:hover::before {
    width: 3px; /* Adjust the width of the bar on hover as needed */
}






