* {
    font-family: 'Montserrat', sans-serif;
}

/* font weight */

.bold {
    font-weight: 700;
}

/* font size */

p {
    font-size: 18px;
}

.size-12px {
    font-size: 12px;
}

.size-14px {
    font-size: 14px;
}

.size-16px {
    font-size: 16px;
}

.size-20px {
    font-size: 20px;
}

.size-40px {
    font-size: 40px;
}